<h1>Users list</h1>

<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of usersList">
      
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.age}}</td>
    </tr>
  </tbody>
</table>
<!-- <div *ngFor="let item of usersList">
    <p>{{item.name}}</p>
    <p>{{item.email}}</p>
    <p>{{item.age}}</p>
    <br><br>
</div> -->